#global {
border: 1px solid#666;
background-color: #d8c8b3;

}

#header{

    border: 1px solid#55767e;
    background: rgb(19, 25, 222);
    height: 5px;
    text-align: center;
    width: 100%;
    color: aliceblue;
    font-family: Impact;
    
}
#header-1{
    background: yellow;
    height:5px ;
}
#header-2{
    background: red;
    height:5px ;
}


#menu-bar{
    border:1px dotted #306f90;
    background:white;
    text-align: center;
    padding: 5px;
    min-height: 107px;

}

#menu-bar ul{

    display: inline-flex;
    list-style: none;
    color: rgb(50, 82, 188);
}



    


#menu-bar ul li{

        width: 200px;
        margin: 5px;
        padding: 15px;
        font-size: large;
        background: #d1c8bc;
        border-radius: 15px;

}

#menu-bar ul li a{
    text-decoration: none;
    color:rgb(238, 247, 249);
    

}


.active, .menu-bar ul li:hover {
    background: #306f90;
    border-radius: 15px;

} 

#contenu{
    border: #d8c8b3;
    background: #d1c8bc;
    padding: 10px;
    margin: 5px;
    min-height: 2010px;
   
}

#left{
    border: 1px solid#6b2f26;
    background: #dce4eb;
    width: 1500px;
    min-height: 608px;
    height: 2000px;
    
}

#right{
    border: 1px solid#9926;
    background: #dce4eb;
    min-height: 400px;
    overflow: auto;
    height: 2000px;
    margin-left: 1px;
    margin-right: 1px;

}


#footer {
    border: 1px solid#798a92;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background:teal;
    text-align: center;
    color: rgb(243, 243, 235);
}



